body{
  background-color: black !important;
}
.height531{
  height: 531px;
}

#s1 {
    font-size: 12px !important;
  }

.s1new{
  background-color: #005ff7;
  color: white;
  border-radius: 2px;
}

  .line10{
    line-height: 18px !important;
  }
 
  .width15{
    width: 15px;
    border: 1px solid #5f96bf;
    border-radius: 3px;
  }

  .r_cog{
    border: 1px solid #5f96bf;
    border-radius: 3px;
  }
  .third_nav1, .third_nav2, .third_nav3, .third_nav4, .third_nav5{
    border: 1px solid #5f96bf;
  }
  .third_nav1, .third_nav2, .third_nav3, .third_nav4{
    border-right: 1px solid transparent;
  }

  .sec_nav1, .sec_nav2, .sec_nav3, .sec_nav4{
    border: 1px solid #5f96bf;
  }
  .sec_nav1, .sec_nav2, .sec_nav3{
    border-right: 1px solid transparent;
  }